<div class="container">
  <h3> <%= @user.name %></h3>
  <h5>Alias: <%= @user.username %></h5>
  <p>Email: <%= @user.email %> </p>
  <hr>
  <p>Number of ideas: <%= @user.ideas.count %>  </p>
  <p>Number of likes: <%= @user.likes.count %> </p>
</div>
