<!DOCTYPE html>
<html>
<head>
  <title>RubyBeltExam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo center">Bright Ideas</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
  <% if current_user %>
    <li><a href="/bright_ideas">Ideas Dashboard</a></li>
    <li><a href="/user/<%= current_user.id %>">My Profile</a></li>
    <li><a href="/logout">Log Out</a></li>
  <% end %>
  </ul>
</div>
</nav>
  <div class="container">
  <% if flash %>
    <% flash.each do |key, value| %>
      <% Array(value).each do |elem| %>
      <p style: "color:red" ><%= elem %></p>
      <% end %>
    <% end %>
  <% end %>
  </div>
<%= yield %>

</body>
</html>
